.info-left-cell {

  background-color: #918e8e;
  color: #ffffff;
  padding: 5px;
  text-align: right;
  border: solid 1px #757171;
  font-size: 12px;
  font-weight: bold;
}

.info-right-cell-odd {

  background-color: #f0ecec;
  color: rgb(49, 48, 48);
  padding: 5px;
  text-align: left;
  border: solid 1px #757171;
  font-size: 12px;
  font-weight: normal;

}

.info-right-cell-even {

  background-color: #b6b3b3;
  color: rgb(49, 48, 48);
  padding: 5px;
  text-align: left;
  border: solid 1px #757171;
  font-size: 12px;
  font-weight: normal;

}

.card {
    border-radius: 6px;
    box-shadow: 0 2px 2px rgba(204, 197, 185, 0.5);
    background-color: #FFFFFF;
    color: #252422;
    margin-bottom: 20px;
    position: relative;
}

.card .card-title,
.card .stats,
.card .category,
.card .description,
.card .social-line,
.card .actions,
.card .card-content,
.card .card-footer,
.card small,
.card a {
    position: relative;
}

.card .card-link {
    color: #444444;
}

.card .card-link:hover, .card .card-link:focus {
    color: #333333;
}

.card img {
    max-width: 100%;
    height: auto;
}

.card .card-header {
    padding: 20px 15px 0px;
    position: relative;
    border-radius: 3px 3px 0 0;
    z-index: 3;
}

.card .card-header.header-with-icon {
    height: 150px;
}

.card .card-header img {
    width: 100%;
}

.card .card-header .category {
    padding: 5px 0px;
}

.card .actions {
    padding: 10px 15px;
}

.card .more {
    float: right;
    z-index: 4;
    display: block;
    padding-top: 10px;
    padding-right: 10px;
    position: relative;
}

.card .alert {
    border-radius: 4px;
}

.card .category {
    font-size: 14px;
    font-weight: 400;
    color: #9A9A9A;
    margin-bottom: 0px;
}

.card .category i {
    font-size: 16px;
}

.card .category.error {
    color: #EB5E28;
    font-size: 12px;
}

.card .card-title {
    margin: 0;
    color: #252422;
    font-weight: 300;
}

.card .card-content {
    padding: 15px 15px 10px 15px;
    min-height: 170px;
}

.card .card-content .card-title {
    margin: 10px 0 20px 0;
}

.card .card-content .big-title {
    text-transform: uppercase;
    text-align: center;
}

.card .card-content .category ~ .card-title {
    margin-top: 10px;
}

.card .card-content .description ~ .card-title {
    margin-top: -10px;
}

.card .description {
    font-size: 16px;
    color: #66615b;
}

.card h6 {
    font-size: 12px;
    margin: 10px 0;
}

.card .card-footer {
    padding: 10px 10px 10px;
}

.card .card-footer .social-line .btn:first-child {
    border-radius: 0 0 0 6px;
}

.card .card-footer .social-line .btn:last-child {
    border-radius: 0 0 6px 0;
}

.card .card-footer hr {
    margin-top: 10px;
    margin-bottom: 15px;
}

.card .card-footer > .form-group {
    margin-bottom: 0;
}

.card .card-footer .footer-title {
    padding-top: 5px;
    display: inline-block;
}

.card .map {
    height: 280px;
    border-radius: 4px;
}

.card .map.map-big {
    height: 420px;
}

.card.card-separator:after {
    height: 100%;
    right: -15px;
    top: 0;
    width: 1px;
    background-color: #cfcfca;
    content: "";
    position: absolute;
}

.card .icon {
    display: block;
    margin: 0 auto;
    top: 60%;
    position: relative;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    text-align: center;
}

.card .icon i {
    font-size: 60px;
    padding: 18px;
    width: 110px;
    border: 2px solid #ccc5b9;
    border-radius: 50%;
    height: 110px;
}

.card .icon-big {
    font-size: 3em;
}

.card .numbers {
    text-align: right;
    font-size: 1.5em;
    font-weight:
}

.card .numbers p {
    margin: 0;
}

.card .pull-right .label {
    margin-top: 7px;
}

.card ul.team-members li {
    padding: 10px 0px;
}

.card ul.team-members li:not(:last-child) {
    border-bottom: 1px solid #F1EAE0;
}

.report-title {
    font-weight: bold;
    font-size: 20px;
    border-bottom: 2px solid #9E9D9D;
    margin: 10px 0 10px 0;
}

.report-title-card {
    font-weight: bold;
    font-size: 12px;
}

.report-subtitle-card {
    font-weight: bold;
    font-size: 14px;
}


.toggle {
  align-items: center;
  border-radius: 100px;
  display: flex;
  font-weight: 700;
  margin-bottom: 16px;
}
.toggle:last-of-type {
  margin: 0;
}

.toggle__input {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
.toggle__input:not([disabled]):active + .toggle-track, .toggle__input:not([disabled]):focus + .toggle-track {
  border: 1px solid transparent;
  box-shadow: 0px 0px 0px 2px #121943;
}
.toggle__input:disabled + .toggle-track {
  cursor: not-allowed;
  opacity: 0.7;
}

.toggle-track {
  background: #e5efe9;
  border: 1px solid #5a72b5;
  border-radius: 100px;
  cursor: pointer;
  display: flex;
  height: 30px;
  margin-right: 12px;
  position: relative;
  width: 60px;
}

.toggle-indicator {
  align-items: center;
  background: #121943;
  border-radius: 24px;
  bottom: 2px;
  display: flex;
  height: 24px;
  justify-content: center;
  left: 2px;
  outline: solid 2px transparent;
  position: absolute;
  transition: 0.25s;
  width: 24px;
}

.checkMark {
  fill: #fff;
  height: 20px;
  width: 20px;
  opacity: 0;
  transition: opacity 0.25s ease-in-out;
}

.toggle__input:checked + .toggle-track .toggle-indicator {
  background: #121943;
  transform: translateX(30px);
}
.toggle__input:checked + .toggle-track .toggle-indicator .checkMark {
  opacity: 1;
  transition: opacity 0.25s ease-in-out;
}

@media screen and (-ms-high-contrast: active) {
  .toggle-track {
    border-radius: 0;
  }
}