table.report-table {
    border: 1px solid black;
    font-size: 11px;
}

table.report-table th {
    border: 1px solid black;
    padding: 5px;
    background-color: gainsboro;
}

table.report-table td {
    border: 1px solid black;
    padding: 5px;
}

.number-cell {
    text-align: right;
}

.percentage-cell {
    text-align: center;
}


.total-cell {
    background-color: rgb(202, 200, 200);
    font-weight: bold;
}