/*
=======================================================================
				List Inside Form Sticky Start
=======================================================================
*/

@if $is_sticky_list_inside_form == True{


// Sticky Header & Footer in List View
.o_list_view {
    .table-responsive  {
        max-height: 300px;
    	overflow-y: scroll;
    	overflow-x: initial;
    }
}




}



/*
=======================================================================
				List Inside Form Sticky End
=======================================================================
*