.currency {
    font-size: small;
}

.info-1 {
    position: absolute;
    z-index: 999;
    margin: 0 auto;
    text-align: right;
    padding: 5px;
    background-color: rgba(188, 217, 188, 0.5);
    font-size: calc(12px + 1vw);
    left: 1000;
    top: 410;
    width: 5vw;
    height: auto;
}
